*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#carousel-container{
  transition: all 1s ease-in-out;
}

#carousel-container>img{
    width: 100%;
    
}
#carousel-container>div{
    display: flex;
    justify-content: center;
}
#carousel-container>div>div{
    width:12px;
    height: 12px;
    background-color: grey;
    border-radius:50%;
     margin:8px;
}



/* below-carousel */

#below-carousel{
    display: flex;
    justify-content: center;
}
#below-carousel>div{
    width: 270px;
    display: flex;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 10px 1px rgb(224, 224, 224);
    align-items: center;
    margin: 10px 20px;
    border-radius:5px;
}
#below-carousel>div>div>p{
    font-size:13px
}
#below-carousel>div>div>p:last-child{
    color: #7086BA;
}

#below-carousel>div>img{
    margin-right: 10px;
}
/* --------shopByCatagory------------------- */
#shopByCatagory{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
#shopByCatagory>p{
    width:80%;
    height:1px;
    background-color: #e0e0e0;
}

#shopByCatagory>h2{
font-weight:100;
position:absolute;
top: -12px;
background-color: #fff;
padding: 0 24px;
font-size:26px;
color: #1D1D1D;
}

/* Bella Cash Button */

#bellaCash>button{
    background-color: #FFC400;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    height: 60px;
    padding: 15px 20px;
     /* position: absolute; */
     display:flex;
     align-items: center;
     font-size:14px;
     font-weight:100;
     position:fixed;
     margin: 10px;
     bottom:0;
     letter-spacing:1px
}

#bellaCash>button>img{
    margin-right: 10px;
}

/* WhatsApp button */


#whatsAppButton>button{
    width:60px;
    height:60px;
    position:fixed;
    bottom:0;
    right:0;
    margin:30px;
    outline: none;
    border-radius:50%;
    border:5px solid #fff;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}