body{
    margin: 0;
}

#top{
    width: 100%;
    height: 150px;
    background-image: url('https://cdn.shopify.com/s/files/1/0054/6665/2718/files/1_1_ecef2245-1d82-431e-b32d-5d704e1e620d.jpg?v=1606463237');
    margin-top: 70px;
    
}
#top > h4{
    color:#232323;
    padding:30px
}
#top > p{
    color: #3C3C3C;
    margin-top: -50px;
    padding:30px
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}
.navigator{
    margin-top: 40px;
    margin-left: 35px;
    font-weight: 600;
    font-size: small;
}
.navigator a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}
#filter{
    display: flex;
    justify-content: right;
    height: fit-content;
    padding-right: 30px;
 /* border: 1px solid red; */
    margin-right: 30px;
}
 #filter>select{
    height: 35px;
    border-radius: 0%;
    outline: none;
} 
#filter > p{
    margin-top: 8px;
    margin-right: 10px;
    color:#232323;
    font-family: "Century Gothic Thin";
}

/* left filter start here */

#container{
    display: grid;
    grid-template-columns: 20% 80%;
}

#data{
    
    display: grid;
    grid-template-columns: repeat(4, 23%);
    row-gap: 30px;
    justify-content: space-between;
   
}
#divFlex{
    margin-top:20px;
    width: 280px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    text-align: center;
    border-radius: 15px;
    position:relative;
    margin-right: 40px;
}


#divI > img{
    width: 220px;
    height: 250px;
    margin-bottom: 0px;
}

#divI > img:hover{
    opacity: 0.4;

}
#divI > button{
    width:180px;
    height:40px;
    color:white;
    background-color:black;
    font-size:16px;
    border-radius:0px;
    position: absolute;
    z-index: 2;
    border:none;
    display:none;
    margin: auto;	
    margin-left: 45px;
    margin-top: -120px;
}
#divI > button:hover{
    background-color:#52b359;
    
}
#divI:hover .mybuttonoverlap{
        display: block;
}

#quick{
    width:100%;
    margin-top:-10px;
    background-color:#43403d;;
    color:white;
    position: absolute;
    z-index: 2;
    border:none;
    display:none;
    height: 20px;
}
#divI:hover .mybquickoverlap {
    display: block;
}


#name{
  margin-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 19px;
  font-family: 'Museo Sans', sans-serif;;
  font-weight: bold;
  color: #232323;
  text-align: center;
  padding: 1px;
  font-size: 13px;
    
}
#rating{
    margin-top: -15px;
}

#save{
    font-size:10px;
    color: green;
}
#divp{
    display:flex;
    justify-content: space-between;
    margin-right: 8px;
    font-size: 23px;
    letter-spacing: 1px;
    font-family: "Times New Roman", Times, serif;
    margin-top: -15px

}
#divp > h5:last-child{
    color: #e95449;
    margin-right:30px
}
#strickprice{
  color: rgb(124, 124, 124);
  text-decoration: line-through;
  margin-left:30px
  
}
/* boxes end here */

/* total  start here*/
#total{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:100%;
    height:60px;
    padding: 5px;
    margin: 0;
    color:#43403d;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color:white


}


/* Bella Cash Button */

#bellaCash>button{
    background-color: #FFC400;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    height: 60px;
    padding: 15px 20px;
     /* position: absolute; */
     display:flex;
     align-items: center;
     font-size:14px;
     font-weight:100;
     position:fixed;
     margin: 10px;
     bottom:30px;
     letter-spacing:1px
}

#bellaCash>button>img{
    margin-right: 10px;
}

/* WhatsApp button */


#whatsAppButton>button{
    width:60px;
    height:60px;
    position: fixed;
    bottom:0px;
    right:0;
    margin:30px;
    outline: none;
    border-radius:50%;
    border:5px solid #fff;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



/* glow page start here */

#glow{
    margin-top: 70px;
    height: 500px;
    width: 100%;
    text-align: center;
    background-image: url('https://cdn.shopify.com/s/files/1/0054/6665/2718/files/1_1_ecef2245-1d82-431e-b32d-5d704e1e620d.jpg?v=1606463237');
    padding:20px
}
#glow > img{
    width:95%;
    
}
#glow > h4{
    text-align: left;
    margin-left: 40px;
    margin-bottom: 20px;
    color:#232323
}


/* gift page start here */

#gifttop{
    margin-top: 70px;
    height: 300px;
    width: 100%;
    /* text-align: left; */
    background-image: url('https://cdn.shopify.com/s/files/1/0054/6665/2718/files/1_1_ecef2245-1d82-431e-b32d-5d704e1e620d.jpg?v=1606463237');
    
    

}
#gifttop > h4{

    margin-bottom: 20px;
    color:#232323;
    padding:10px;
    margin-left: 40px;
}
#gifttop > button{
    margin-top: 20px;
    padding:10px;
    font-size: 14px;
    margin-left: 50px;
    background-color: #fff;
    border: none;
    color: black;
    font-weight: 600;
    width: 150px;
    height: 50px;
}
#gifttop > p{
    padding:10px;
    margin-left: 40px;
}
#more {display: none;}

