body{
    padding:0;
    margin:0;
}
#nature{
    width:100%;
    height:600px;
    background-image:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS4etLjn7hCBy0lIbkjxKWRWW-7qkQpQh7To7-hlAOl8oq9Kmbm");
    padding-top:15px;
    margin-bottom:50px;
} 
#nat{
    font-size:25px;
    margin-left:50px ;
}
#simg{
    height:80%;
    width:93%;
    margin-top: 40px;
    margin: auto;
    margin-left: 50px;
} 
#des{
    font-size:16px;
    margin-left: 50px;
    text-transform: capitalize;
  color: #999;
}
#refine{
    display:flex;
    justify-content: space-between;
    width:93%;
    height:50px;
    margin: auto;
    margin-top: 40px;
} 
#by{
    display:flex;
    height:40px;
    width:170px;
    gap:15px;
    
} 
#ref{
    height:40px;
    width:50px;
    margin-top: 5px; 
}
 #sort{
    display:flex;
    height:40px;
    width:280px;
    gap:15px;
    margin-top: 15px; 
    
} 
#sor{
    height:35px;
    width:170px;  
}
#sort>div>p{
    margin-top:8px;
}
#main{
    display:flex;
    /* justify-content: space-between; */
    gap:20px;
    width:93%;
    height:1000px;
    margin: auto;
    margin-top: 40px;
   
}
#cat{
    width: 20%;
  
}
#prod{
    width: 80%;
    display:grid;
    grid-template-columns: repeat(3,1fr); 
    gap:20px;
    
}
#vita{
    width:90%;
    height:480px; 
    border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
#glow1{
    height: 60%;
    width:100%;
    margin:auto;
}

#p1{
font-size: 17px;
text-align: center; 
}
#p{
font-size: 13px;
text-align: center; 
color: #009d00;
}
#nat{
    font-size:25px;
    margin-left:50px ;
}

#pri{
height: 25px;
width:55%;
display:flex;
gap:10px;
margin:auto;
margin-top:-30px;
margin-bottom:40px;
margin-left:90px;
}
#str{
color: #969696;
text-decoration: line-through;
font-size:23px;
/* margin-right: 5px; */
}
#str1{
color: #e95144;
font-size:23px;
}

/* Bella Cash Button */

#bellaCash>button{
background-color: #FFC400;
border: none;
outline: none;
border-radius: 30px;
cursor: pointer;
height: 60px;
padding: 15px 20px;
 /* position: absolute; */
 display:flex;
 align-items: center;
 font-size:14px;
 font-weight:100;
 position:fixed;
 margin: 10px;
 bottom:0;
 letter-spacing:1px
}

#bellaCash>button>img{
margin-right: 10px;
}

/* WhatsApp button */


#whatsAppButton>button{
width:60px;
height:60px;
position:fixed;
bottom:0;
right:0;
margin:30px;
outline: none;
border-radius:50%;
border:5px solid #fff;
background-color: #fff;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
